<footer class="footer">
    <section class="footer__cont container py-4">
        <h3 class="col-12 pb-2">Datos del alumnos</h3>
        <ul class="footer__cont-ul">
            <div>
                <li>Nombre: Albert Villarroel</li>
                <li>Comisión: DWN4A</li>
            </div>
            <div>
                <li>Profesor: Brian Lara</li>
                <li>Turno: Tarde</li>
            </div>
            <div>
                <li>Materia: Aplicaciones Hibridas</li>
                <li>TP: N°1 | WEB + API</li>
            </div>
        </ul>
    </section>
</footer>