<header>
    <a href="index.php?s=home">
        <h2 class="logo">Curs<span class="header__span">Arg</span></h2>
    </a>
    <div>
        <nav class="col navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#barra" aria-controls="barra" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="barra">
                <ul class="navbar-nav text-center ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/listar">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/nuevoTestimonio">Formulario</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>